@namespace "library://ns.apache.org/royale/spark";
@namespace comp "components.*";

comp|MyRenderer
{
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ItemRendererMouseController");
	padding-top: 4px;
	padding-bottom: 4px;
	flex-shrink: 0;
	flex-grow: 1;
	cursor: pointer;
}

